body {
    background-image: url("pictures/ndnr2blue.jpg")
}

th {
    color: white;
    background: rgba(70, 100, 80, 0.5);

}

td {
    color: grey;
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 4px solid grey;
    border-right: 1px solid grey;
    padding: 15px;
    margin: auto;
}

#abc {
    background-color: white;
    color: blue;
}
